Flask==3.1.2
gunicorn==23.0.0
dash==3.2.0
plotly==6.3.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
gdown==5.2.0
# tensorflow-cpu==2.15.0
imbalanced-learn==0.12.3
dash_bootstrap_components==1.4.2


